.featuresDiv .content {
	display: flex;
	flex-direction: column;
	  padding: 2rem;
	  position: relative;
	  z-index: 2;
	}
	.image1 { order:1; }
	.text1 { order:2; }
	.image2 { order:3; }
	.text2 { order:4; }

.featuresText {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin: auto;
	position: relative;
	width: 100%;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.featuresText span {
	display: block; 
	max-width: 35ch;
}

.featuresText h2 {
	color: var(--lightest);
	background-color: var(--light-accent);
	padding: 1rem 2rem;
	margin-bottom: 20px;
	font-size: 2rem;
	font-family: 'ABeeZee', sans-serif;
}

.featuresDiv img {
	max-width: 100%;
	object-fit: cover;
	border-radius: 3rem;
	position: relative;
	z-index:1;
}

.featuresPic {
	position: relative;
}