.collectionCard {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--medium-green);	
	transition: transform .2s;
	padding-bottom: 1.5rem;
}
.collectionCard_inner {
	box-shadow: rgba(29,40,18, 0.2) 0px 6px 12px -2px, rgba(29,40,18, 0.2) 0px 3px 7px -3px;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
}

.collectionCard:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.collectionCard:hover .collectionCard_inner {
	box-shadow: rgba(29,40,18, 0.2) 0px 8px 14px -2px, rgba(29,40,18, 0.2) 0px 5px 9px -3px;
}

.addIcon {
	width: 3rem;
	height: 3rem;
	font-size: 1.6rem;
	line-height: 3rem;
	background-color: var(--lightest);
	border-radius: 50%;
	color: var(--medium);
	z-index: 2;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%); 
	margin:-1.5rem auto 0;
	text-align:center;
}

.addIcon:hover {
	background-color: var(--light-accent);
	color: var(--lightest);
}

/* Modal */
.modalCloseModal {
	border: 0;
	background: transparent;
	color: var(--accent);
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 15px;
}

.modalCloseModal:hover {
	color: var(--darkest);
	cursor: pointer;
}