.myPlantsHeader {
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.myPlantsHeader .content > * {
	z-index:1;
}

.myPlantsHeader::before {
	content: "";
	background: url(../../images/bg_monstera.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 15rem -7rem;
	background-origin: content-box;
	background-size: 70%;
	opacity: 0.2;
	top: 0;
	right: 0;
	bottom:0;
	left:0;
	position: absolute;
  }


.myPlantsHeader .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 0;
}

.myPlantsHeader h1 {
	color: var(--lightest);
	font-family: 'Trocchi', serif;
	font-size: 5rem;
	line-height: auto;
	display: inline-block;
	flex-grow: 1;
	text-indent: 2rem;
}

.myPlantsDiv .gridHeader {
	display: flex;
	justify-content: center;
}

.helpButton {
	background-color: var(--light-accent);
	color: var(--lightest);
	padding: 10px 20px;
	border: 0;
	border-radius: 10px;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.helpButton:hover {
	background-color: var(--accent);
	cursor: pointer;
}

.helpButton span  {
	font-size: 2.5rem;
	line-height: 3rem;
	margin-right: 1rem;
}

.myPlantsGrid {
	list-style-type: none;
	margin: 0;
	padding: 1rem 2rem 4rem 2rem;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 1.5rem;
	grid-row-gap: 1.5rem;
}

/* For when you still haven't added any plants to your personal collection */

.noPlantsYet {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;	
	position: relative;
}

.noPlantsYet span {
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	margin-bottom:4rem;
}

.noPlantsYet a:link, 
.noPlantsYet a:visited {
	text-decoration:none;
	font-weight: 700;
	color: var(--lightest);
	background-color: var(--light-accent);
	padding: 6px 18px;
	border-radius: 5px;
	font-size: 1.8rem;
}

.noPlantsYet a:hover {
	background-color: var(--accent);
	color: var(--lightest);
	cursor: pointer;
}
