.container.loginForm {
	display: flex;
	justify-content: center;
}

.loginForm .form {
	position: relative;
	z-index: 1;
	max-width: 300px;
	padding: 4.5rem;
	text-align: center;
}

.loginForm button {
	padding: 5px 5rem;
	border-radius: 10px;
	border: none;
	background-color: var(--light-accent);
	color: var(--lightest);
	font-weight: 700;
	font-family: Poppins;
	font-size: 1.8rem;
	line-height: 4rem;
}

.loginForm input {
	margin-top: 10px;
	font-family: Poppins;
	font-size: 1.6rem;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	padding-left: 10px;
	border-radius: 10px;
	border: none;
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.loginForm input::placeholder {
	font-size: 15px;
}

.loginForm input:focus {
	outline: none;
}

.loginForm .input__message {
	margin-top: 1.5rem;
	font-weight: 700;
	color: var(--lightest);
	font-size: 1.5rem;
}

.loginForm .input__message a {
	color: var(--light-accent);
	text-decoration: underline;
}

.loginForm .input__message a:hover {
	color: var(--accent);
}