.container.registerForm {
	display: flex;
	justify-content: center;
}

.registerForm .form {
	position: relative;
	z-index: 1;
	max-width: 300px;
	padding: 45px;
	text-align: center;
}

.registerForm button {
	padding: 2px 15px 2px 15px;
	border-radius: 5px;
	border: none;
	background-color: #c58a47;
	color: white;
	font-weight: 700;
}

.registerForm input {
	margin-top: 10px;
	font-family: Poppins;
	font-size: 15px;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	padding-left: 10px;
	border-radius: 10px;
	border: none;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.registerForm input::placeholder {
	font-size: 15px;
}

.registerForm input:focus {
	outline: none;
}

.registerForm .input__message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.registerForm .input__message a {
	color: var(--main-color);
	text-decoration: none;
}
