.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-container .logo {
  display: inline;
  width: 8rem;
  padding: 15px;
  transform: rotate(-15deg);
}

.logo-container img {
	animation: shake2 4s infinite ease-in-out;
}

@keyframes shake2 {
	0%, 11% { transform: translate(1px, 1px) rotate(-15deg); }
	1% { transform: translate(-1px, -2px) rotate(-16deg); }
	2% { transform: translate(-3px, 0px) rotate(-4deg); }
	3% { transform: translate(3px, 2px) rotate(-15deg); }
	4% { transform: translate(1px, -1px) rotate(-4deg); }
	5% { transform: translate(-1px, 2px) rotate(-16deg); }
	6% { transform: translate(-3px, 1px) rotate(-15deg); }
	7% { transform: translate(3px, 1px) rotate(-16deg); }
	8% { transform: translate(-1px, -1px) rotate(-4deg); }
	9% { transform: translate(1px, 2px) rotate(-15deg); }
	10% { transform: translate(1px, -2px) rotate(-16deg); }
  }

.logo-container h1 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 3rem;
  line-height: auto;
  color: var(--medium);
}

.logo-container a {
  text-decoration: none;
}

/* Don't display the logo in the nav bar when in the Landing page */
nav .logo-container.hidden {
	display:none;
}
