.helpModal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	max-width: 850px;
    padding: 20px;
}

.helpModal h3 {
	color: var(--medium);
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
	line-height: 3.5rem;
	margin-bottom:1rem;
}

.helpModal h4 {
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.5rem;
	margin: 1rem 0;
}


.helpSteps {
	max-width: 100%;
	display: flex; 
	flex-direction: column;
}

.helpSteps li {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.helpSteps img {
	max-width: 90%;
	border-radius: 2rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.helpSteps li span.next {
	font-size: 2rem;
	line-height: 3rem;
	background-color: var(--light-accent);
	width: 3rem;
	text-align: center;
	color: var(--lightest);
	border-radius: 50%;
}

.helpSteps li.help_step04 h4 {
	font-size: 1.8rem;
	line-height: 3rem;
}

.helpSteps li.help_step04 h4 span {
	font-size: 2.5rem;
	line-height: 3-rem;
	color: var(--light-accent);
	vertical-align: bottom;
	margin-right: 1rem;
}


/* Modal */
.modalCloseModal {
	border: 0;
	background: transparent;
	color: var(--accent);
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 15px;
}

.modalCloseModal:hover {
	color: var(--darkest);
	cursor: pointer;
}

