/* TODO - finish footer. Decide design & content */

.footerDiv {
	color: var(--lightest);
	position: relative;
}

.footerDiv .content > * {
	z-index:1;
}

.footerDiv::before {
	content: "";
	background: url(../../images/5-dots-green.png);
	background-repeat: repeat;
	opacity: 0.6;
	top: 0;
	right: 0;
	bottom:0;
	left:0;
	position: absolute;
  }

.footerDiv .content::before {
	content: "";
	background: url(../../images/footer.png);
	background-repeat: no-repeat;
	background-position: 80% 35%;
	background-origin: content-box;
	background-size: 80%;
	opacity: 0.1;
	top: 0;
	right: 0;
	bottom:0;
	left:0;
	position: absolute;
  }

.footerDiv .content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: top;
	padding: 3rem 0;
}

.footer_title {
	padding-left: 2rem;
	padding-right: 2rem;
}

.footer_title .footer_copy {
	display: none;
}

.footer_copy {
	display:block;
	text-align:left;
	padding-left: 2rem;
}
	.footerDiv h5 {
		font-family: 'ABeeZee', sans-serif;
		color: var(--medium);
		font-size: 4rem;
		line-height: 4rem;
		background: url(../../images/favicon-transparent.png) no-repeat center left;
		background-size: 3.8rem;
		padding-left: 4.5rem;
	}

	.footerDiv a.button {
		font-family: 'Poppins', sans-serif;
		font-size: 1.8rem;
		text-decoration: none;
		color: var(--light-accent);
		padding: 5px 0;
		display: inline-block;
		margin: 2rem 0;
	}

	.footerDiv a.button svg {
		transition: transform .2s;
		transform: scale(1);
		transform-origin: left center;
	}

	.footerDiv a.button:hover svg {
		transform: scale(1.25);
		transform-origin: left center;
	}

.footerDiv p {
	line-height: 3.5rem;
	margin-right: 3rem;
	font-family: 'Trocchi', serif;
	font-size: 2rem;
}


.footer_credits {
	padding-top: 1rem;
	padding-left: 2rem;
	border-left: 1px solid var(--dark);
}

.footer_credits ol {
	list-style-type: none;
	font-family: 'Trocchi', serif;
	font-size: 1.5rem;
	line-height: 4rem;
	column-count: 1;
}

.footer_credits a {
	color: var(--light);
	text-decoration: none;
}

.footer_credits ol span {
	margin-right: 1rem;
	color: var(--light-accent);
}

.footer_credits a:hover {
	color: var(--light-accent);
}

.footer_credits a svg {
	transition: transform .2s;
	transform: scale(1);
	transform-origin: left center;
}

.footer_credits a:hover svg {
	transform: scale(1.25);
	transform-origin: left center;
}