@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Poppins&family=Trocchi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Poppins&family=Trocchi&display=swap');

:root {
	--lightest: #fefae2;
	--light: #c9d3aa;
	--medium: #7c875a;
	--dark: #445432;
	--darkest: #1d2812;
	--light-accent: #c9874c;
	--accent: #bb6c2f;
	--darker-accent: #aa5722;
}

* {
	margin:0;
	padding: 0;
	outline: none;
}

html {
	font-size: 10px;
}

body {
	background-color: white;
	font-family: Lato, sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.App {
	display: flex;
  	flex-direction: column;
	min-height: 100vh;	
}

.container {
	display: flex;
	justify-content: center;
}

.content {
	width: 100%;
	/* border: 1px solid red; */
}

/* COLLECTION & MYPLANTS */
.plantsTitle {
	background-color: var(--medium);
}

.plantsGrid {
	background-color: var(--light);
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.content {max-width: 1300px;}
}
