/* -------------------------------------------------
	GOOGLE FONTS
	- Lato for general text
	- Poppins for headings, buttons and some texts
	- Trocchi for page titles
	- ABeeZee for Plantagotchi title
------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Poppins&family=Trocchi&family=ABeeZee&display=swap');


/* ----------------------------------
	COLORS
	* NOTE: We're still using white in some places 
	but in 	the process of switching to --lightest 
	for a more cohesive look
---------------------------------- */
:root {
	--lightest: #FFFAFA;
	--light: #c9d3aa;
	--mediumlight: #a0ab7c;
	--medium: #7c875a;
	--dark: #445432;
	--darkest: #1d2812;
	--light-accent: #c9874c;
	--accent: #bb6c2f;
	--dark-accent: #aa5722;
}


/* ----------------------------------
	GENERAL / RESET
---------------------------------- */
* {
	margin:0;
	padding: 0;
	outline: none;
}

html {
	font-size: 10px;
}

body {
	background-color: var(--lightest);
	font-family: Lato, sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.App {
	display: flex;
  	flex-direction: column;
	min-height: 100vh;	
}


/* --------------------------------------------------------------------------------------------------
	LAYOUT
	.container encloses each section
	.content includes the actual section content and displays it centered within its .container
-------------------------------------------------------------------------------------------------- */

.container {
	display: flex;
	justify-content: center;
}

.content {
	width: 100%;
}

.collectionDiv,
.myPlantsDiv {
	flex-grow: 1;
}


/* --------------------------------------------------------
	BACKGROUND COLORS
	for the different page sections.
	We will apply these extra classes to each .container 
-------------------------------------------------------- */

	/* Landing + General */
	.navigationDiv {
		background-color: var(--lightest);
	}
	.navigationDiv.navigationLanding {
		background-color: var(--dark);
	}

	.introDiv {
		background-color: var(--lightest);
	}

	.featuresDiv {
		background-color: var(--light);
	}

	.registerFormDiv {
		background-color: var(--medium);
	}

	.footerDiv {
		background-color: var(--darkest);
	}


	/* Collection + MyPlants */
	.collectionHeader, 
	.myPlantsHeader {
		background-color: var(--medium);
	}

	.collectionDiv, 
	.myPlantsDiv {
		background-color: var(--light);
	}

/* -----------------------------------------------
	INPUT COLOR OVERRIDE
	To avoid Chrome applying its own styles
	Source: https://www.codegrepper.com/code-examples/css/how+to+remove+input+background+color
------------------------------------------------------------------------------------------------------ */

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active{
		-webkit-box-shadow: 0 0 0 30px var(--lightest) inset !important;
		box-shadow: 0 0 0 30px var(--lightest) inset !important;
	}

	.clickToClose {
		/* border: 1px solid red; */
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		display:block;
		height: 7rem;
		z-index: 5;
		cursor: pointer;
	}


/* ----------------------------------
	MEDIA QUERIES
---------------------------------- */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.content {max-width: 1300px;}
}
