.modalForm {
    background-color: var(--darkest);
    color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modalForm form div {
    position: relative;
    display: flex;
}

.modalForm input {
    position: relative;
    font-family: Poppins;
	font-size: 15px;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 10px;
	border-radius: 10px;
	border: none;
}

.modalForm button {
    position: absolute;
    top:0;
    right: 0;
    font-family: Poppins;
	font-size: 15px;
	border: 0;
	margin: 0;
	padding: 10px;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	border: none;
    color: white;
    background: var(--accent);
}