.collectionCard {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--medium-green);
	border-radius: 2rem;
}

/* Modal */
.modalCloseModal {
	border: 0;
	background: transparent;
	color: var(--accent);
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 15px;
}

.modalCloseModal:hover {
	color: var(--darkest);
	cursor: pointer;
}