.gridHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
}

.gridFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2rem 0 4rem;
    align-items: center;
}

.pagination {
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.pagination li {
    margin-right: 1.5rem;
}

.pagination li span {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    background: var(--darkest);
    color: var(--light);
    border-radius: 5px;
}

.pagination li span:hover {
    cursor: pointer;
}

.pagination li.current span {
    background: var(--accent);
}