nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigationDiv ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
}

.navigationDiv .nav-item > * {
	background-color: var(--light-accent);
	padding: 6px 18px;
	border-radius: 5px;
}

.navigationDiv .nav-item > *:hover {
	background-color: var(--accent);
	cursor: pointer;
}

.navigationDiv .active {
	background-color: var(--dark-accent);
}

.navigationDiv span {
	color: var(--lightest);
	font-weight: 700;
}

.navigationDiv a {
	text-decoration: none;
	color: var(--lightest);
}

/* Corrections for landing page */
.navigationLanding {
	padding: 20px 0;
}

.navigationLanding nav {
	justify-content: right;
}