.navigationDiv {
	background-color: white;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
}

.nav__div {
	background-color: #c58a47;
	padding: 1px 10px 1px 10px;
	border-radius: 5px;
}

.active {
	background-color: #ab5723;
}

nav span {
	color: white;
	font-weight: 700;
}

nav a {
	text-decoration: none;
	color: white;
}
