/* MODAL */

.modalContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 850px;
    padding: 20px;
	color: var(--darkest);
	font-family: Lato, sans-serif;
}

.modalImage {
	width: 100%;
	border-bottom: 2px dotted var(--light);
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	.modalImage img {
		width: 50%;
		border-radius: 10px;
		margin-bottom: 1rem;
	}

.modalInfo {
	/* width: 60%; */
	padding-left: 20px;
	margin-right: 5%;
}

.modalInfo h2 {
	color: var(--darkest);
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
	line-height: 3.5rem;
}

.modalInfo h3 {
	color: var(--mediumlight);
	font-size:1.6rem;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	margin-bottom: 3rem;
}

.modalImage ul,
.modalInfo ul {
	list-style-type: none;
}

.modalImage li,
.modalInfo li {
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: start;
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	
}

.modalContent h4 {
	display: inline-block;
	padding-right: 10px;
}

.modalInfo .altIcons {
	display:inline-block;
	padding-left: 2rem;
	padding-right: 10px;
	min-width: 3rem;
	font-size: 1.8rem;
	color: var(--dark);
}

.modalInfo .altIcons.double {
	padding-left: 0;
	width: 5rem;
}

.modalImage .altIcons {
	display:inline-block;
	font-size: 1.8rem;
	color: var(--dark);
	margin-right: 1rem;
}

.modalCareLevel .careLevelText {
	font-size: 1.4rem;
	line-height: 2.6rem;
	font-weight: 600;
	font-style: italic;
	color: var(--mediumlight);
}

.plantIrrigation span::after {
	content: ' ';
}

.modalPetFriendly span.altIcons {
	background-color:var(--light-accent);
	line-height: 2.6rem;
	width: 2.6rem;
	display:inline-block;
	text-align: center;
	border-radius: 50%;
	color:var(--lightest);
	margin-right: 1rem;
}

.modalPetFriendly {
	color: var(--light-accent);
	font-size: 1.6rem;
	line-height: 2.6rem;
	font-weight: 700;
}