.filters {
  display: flex;
  padding: 2rem;
  align-items:flex-start;
}

.filters .carelevel {
  width: 140px;
  padding: 0 2rem;
  margin-right:2rem;
  height: 3rem;
  line-height: 3rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--darkest);
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: var(--light);
}

.filters button {
  background:none;
  border:none;
  font-size: 3rem;
  line-height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  color:var(--darkest);
}

.filters button:hover {
  color:var(--accent);
  cursor: pointer;
}
